:root {
	/* Color */
	--black: hsl(0 0% 0%);
	--gray-50: hsl(0 0% 1%);														
	--gray-100: hsl(0 0% 10.5%);
	--gray-200: hsl(0 0% 21%);
	--gray-300: hsl(0 0% 31.5%);
	--gray-400: hsl(0 0% 42%);
	--gray-500: hsl(0 0% 52.5%);
	--gray-600: hsl(0 0% 63%);
	--gray-700: hsl(0 0% 73.5%);
	--gray-800: hsl(0 0% 84%);
	--gray-900: hsl(0 0% 94%); 
	--gray-950: hsl(210, 36%, 96%);
	--white: hsl(0 0% 100%);
	--transparent: hsla(0 0% 0% 0);
	        
	        
	 /* Font stacks */
    --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-serif: Georgia, "Times New Roman", Times, serif;
    --font-mono: "Courier New", Courier, monospace;
    --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		--font-sans-button: "Open Sans", Arial, sans-serif; 
	 
	/* Font sizing */
	--fs-12: 0.812rem; 
	--fs-14: 0.875rem; 
	--fs-16: 1rem;
	--fs-20: 1.25rem;
	--fs-24: 1.5rem;
	--fs-30: 1.875rem;
	--fs-36: 2.25rem;
	--fs-40: 2.5rem;
	--fs-48: 3rem;
	--fs-60: 3.75rem;
	--fs-72: 4.5rem;

	/* Font weight */
	--fw-100: 100;
	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: bold;
	--fw-600: 600;
	--fw-700: 700;
	--fw-800: 800;
	--fw-900: 900;

	/* Text */
	--no-break: nowrap;

	/* Spacing */
	--space-4: 4px;
	--space-8: 8px;
	--space-12: 12px;
	--space-16: 1rem;
	--space-24: 24px;
	--space-32: 32px;
	--space-48: 48px;
	--space-64: 64px;
	--space-96: 96px;
	--space-128: 128px;
	--space-192: 192px;
	--space-256: 256px;
	--space-384: 384px;
	--space-512: 512px;
	--space-640: 640px;
	--space-768: 768px;
	
	/* Spacing Tight */
	--tight-neg-xl: -0.05rem;
	--tight-neg-lg: -0.04rem;
	--tight-neg-md: -0.03rem;
	--tight-neg-sm: -0.02rem;
	--tight-normal: 0rem;
	--tight-sm: 0.02rem;
	--tight-md: 0.035rem;
	--tight-lg: 0.05rem; 
	--tight-xl: 0.055rem; 
	
	/* Inline spacing  */
	--inline-2xs: 0.125rem;
	--inline-xs: 0.25rem;
	--inline-sm: 0.5rem;
	--inline-md: 0.75rem;
	--inline-lg: 1rem;
	--inline-xl: 1.5rem;
	--inline-2xl: 2rem;
	
	/*  Block spacing  */
	--block-2xs: 0.25rem;
	--block-xs: 0.5rem;
	--block-sm: 0.75rem;
	--block-md: 1rem;
	--block-lg: 1.5rem;
	--block-xl: 2rem;
	--block-2xl: 3rem;
	
	
	/* Shape (border radius) */
	--size-radius-0: 0px;
	--size-radius-sm: 2px;
	--size-radius-md: 4px;
	--size-radius-lg: 8px;
	--size-radius-xl: 16px;
	--size-radius-full: 25px;
	--size-radius-pill: 9999px;
	--size-radius-circle: 50%;
	
	/* Layering (z-index scale) */
	--layer-base: 0;
	--layer-hover: 10;
	--layer-focus: 20;
	--layer-modal: 100;
	--layer-toast: 200;
	--layer-tooltip: 300;
	
	/* Duration (animation / timing) */
	--duration-constant: 0ms;
	--duration-fast: 150ms;
	--duration-medium: 300ms;
	--duration-slow: 500ms;
	--duration-slower: 800ms;
	
	/* Transition time scale */
	--transition-instant: 0ms;
	--transition-fast: 120ms;
	--transition-medium: 240ms;
	--transition-slow: 360ms;
	--transition-deliberate: 480ms;	
}

/* ===========================
   MAIN
   =========================== */




/* ===========================
   RESET
   =========================== */


/* Modern CSS reset: https://github.com/hankchizljaw/modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ===========================
   GLOBAL
   =========================== */

	body {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}

/* ===========================
   MODULES
   =========================== */






/* ===========================
   ATOMS
   =========================== */





.atoms-button {
	padding-inline: 1.2rem;
	padding-block: 0.5rem;
	color: var(--gray-200);
	cursor: pointer;
	border-radius: 0.5rem;
	font-family: var(--font-sans);
}


/* ===========================
   UTILITIES
   =========================== */


	.nav-hidden {
		top: -570px !important;
	}

	.image-cover {
		object-fit: cover !important;
	}

	.image-contain {
		object-fit: contain !important;
	}

	.image-fill {
		object-fit: fill;
	}

	.image-rotate {
		rotate: -90deg;
	}

	.image-center {
		object-position: right;
	}

	.balance-wrap {
		text-wrap: balance;
	}

	.no-wrap {
		text-wrap: nowrap;
	}

	.borders * {
		border: 1px solid red !important;
	}
